/* ==========================================================================
    General 
========================================================================== */

@font-face {
    src: url("../fonts/afuturicabook.ttf");
    font-family: acampus; /* Имя шрифта */
}


h1,h2,h3,h4,h5,h6{
    /*font-family:'Oswald';*/
    font-family: acampus;
    /*font-weight:100;*/
    font-weight: 400;
}
.navbar{
    font-size: 18px;
}

body{
    padding-top: 70px;

}
 a:active, a:hover, a:focus{
    outline: none;
     color:#9e4140;
     text-decoration: none;
}

a {
    /*transition*/
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

a {
    color: #2e6633;font-family: acampus;
}


.btn-o {
    border:1px solid #34c8b2;
    /*border-radius*/
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    color:#34c8b2;
}

.btn-o:hover {
    color:white;
    background:#34c8b2;
}

img {
    max-width:100%;
    max-height: 100%;
}

.hexagon {
    width:100px;
    height:55px;
    background:#3acab1;
    position:relative;
    /*transition*/
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

.hexagon:before {
    content:"";
    position:absolute;
    top:-25px;
    left:0;
    width:0;
    height:0;
    border-left:50px solid transparent;
    border-right:50px solid transparent;
    border-bottom:25px solid #3acab1;
    /*transition*/
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

.hexagon:after {
    content:"";
    position:absolute;
    bottom:-25px;
    left:0;
    width:0;
    height:0;
    border-left:50px solid transparent;
    border-right:50px solid transparent;
    border-top:25px solid #3acab1;
    /*transition*/
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

.hexagon:hover {
    background:#9e4140;
}

.hexagon:hover:before {
    border-bottom-color:#9e4140;
}

.hexagon:hover:after {
    border-top-color: #9e4140;
}


/* ========================================================================== 
Navigation 
========================================================================== */
.navbar-dark {
    background:  #ec343c;
    z-index: 99999;
}

.navbar-dark a {
    /*color:rgb(153,160,162);*/
    color: rgb(205, 209, 210);
}

.navbar-brand {
    height:69px;
    padding:5px 15px!important;
}

.navbar-nav>li>a {
    padding-top:25px;
    padding-bottom:25px;
}

.navbar-brand strong {
    color:white;
    margin-right:2px;
}

.navbar-brand:hover {
    color: #9e3d2c;
    text-decoration:none;
}

.nav>li>a:hover,.nav>li>a:focus {
    background-color:#9e4140;
    color: white;
}


/* ========================================================================== 
Caurosel
========================================================================== */
.carousel-control {
    z-index:9999;
}

.carousel-control>img {
    position:absolute;
    top:42%;
    width:30%;
}

.left.carousel-control>img {
    left:30%;
}

.right.carousel-control>img {
    right:30%;
}

.camera-icon {
    position:absolute;
    width:100%;
    left:0;
    top:0;
    text-align:center;
    z-index:99;
    padding-top: 9%;
}

.camera-icon .circle {
    width:200px;
    height:200px;

    line-height:200px;
    display:inline-block;
    /*border-radius*/
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    border:1px solid white;
    position:relative;
    color:white;
    opacity:.85;
}

.camera-icon .circle img {
    color:white;
    position:absolute;
    z-index:1;
    left:2px;
    top:8px;
    font-size:38px;
}

.camera-icon .circle .hexagon {
    display:inline-block;
    margin-top:75px;
    position: relative;
}
.item img{
    width: 2560px;
    height: auto;
    }

/* ========================================================================== 
content-block 
========================================================================== */
.content-block {
    padding:60px 0;
    width:100%;
}

.content-block-cyan {
    background: #34C8B2;
    color: #000000;

}

.content-block-cyan h1 {
    font-weight:100;
    text-transform:uppercase;
    margin-bottom: 30px; 
}


/* ========================================================================== 
Recent works
========================================================================== */
.recent-projects-title {
    background: rgba(236, 240, 241, 1);
    color: #333;
    text-transform: uppercase;
    padding: 40px 0px;
    text-align: center;
    font-size: 62px;
    font-family: acampus, sans-serif;
    word-spacing: 17px;
    letter-spacing: 4px;
    font-weight: 400;
}

.owl-carousel .owl-item img {
    height:auto;
    width:100%;
    display:block;
    position:relative;
}

.owl-carousel .item {
    margin:0px;
}

.owl-item>div {
    position:relative;
}

.owl-item>div a {
    position:absolute;
    bottom:0px;
    padding:8px;
    background:rgba(0,0,0,0.75);
    right:0;
    color:white;
    text-transform:uppercase;
    z-index: 2;
}

.owl-carousel .owl-item div:before {
    top:0;
    right:0;
    bottom:0;
    left:0;
    position:absolute;
    content:'';
    background:rgba(5,27,26,1);
    z-index:1;
    opacity:0.5;
    /*transition*/
    -webkit-transition:opacity 0.4s;
    -moz-transition:opacity 0.4s;
    -o-transition:opacity 0.4s;
    transition:opacity 0.4s;
}

.owl-carousel .owl-item:hover div:before {
    opacity: 0;
}

.owl-theme .owl-controls .owl-page span {
    background: #34C8B2;
}

.hc{
    text-align: center!important;
}
/* ========================================================================== 
blog 
========================================================================== */
.block-heading h1 {
    margin-top:0;
}

.content-block-gray {
    background:#ECF0F1;
}
/*.content-block-work {*/
    /*background:url("../img/workbg.jpg") ;*/
/*}*/
.bgwork{
    background:url("../img/workbg.jpg") no-repeat;
    height: 1700px;
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
    padding: 0;margin: 0;
}
.block-heading {
    margin-bottom: 60px;
}
.content-block-work,.content-block-moop,.content-block-heart{
    padding: 0;margin: 0;
}
.row .work-row{
    background: rgba(236, 240, 241, 0.8) none repeat scroll 0 0;
    border: 3px solid #34c8b2;
    border-radius: 15px;
    padding: 25px;
}
.row .work-row h1{
    margin-bottom: 30px;
}

.bgmoop{
    background:url("../img/moopbg2.jpg") no-repeat;
    height: 1700px;
    background-size:cover ;
    padding: 0;margin: 0;
    background-attachment:fixed;
    background-position:center;
}

.bgheart{
    background:url("../img/heartbg2.jpg") no-repeat;
    height: 1700px;
    background-size:cover ;
    padding: 0;margin: 0;
    background-attachment:fixed;
    background-position:center;
}

/* ========================================================================== 
Social
========================================================================== */
#social {
    padding:110px 0;
}

#social .hexagon {
    display:inline-block;
}

#social .hexagon i {
    font-size:36px;
    color:white;
    line-height:55px;
    position:relative;
    z-index: 1;
}


/* ========================================================================== 
footer
========================================================================== */
footer.content-block {
    padding: 60px 0 38px;
    width: 100%;
}

.content-block-dark {
    background:#222222;
}

footer {
    text-align:center;
    color: rgb(153,160,162);
}


/* ========================================================================== 
Responsive styles
========================================================================== */

@media (max-width:1322px) {
    .navbar-nav > li > a {
        font: 12px acampus!important;
    }
}

@media (max-width:1115px) {

    .navbar-form .navbar-right {

    }
}

@media (max-width:768px) {
    .navbar-nav>li>a {
        padding-top:10px;
        padding-bottom:10px;
        text-align:center;
    }
    .navbar-toggle i {
        color:rgb(153,160,162);
    }
    .navbar-toggle {
        margin-top:14px;
    }
    .recent-projects-title {
        font-size:32px;
    }
    .blog-post {
        margin-bottom:40px;
    }
    #social .hexagon {
        margin-bottom:60px;
    }
    #social {
        padding-bottom: 70px;
    }

    .navbar-brand {
        height: 69px;
        padding: 5px 15px !important;
    }


}
.about{
    display: block;
    text-align: center;
}

.about .tab-pane{
    background: rgba(236, 240, 241, 1);
}
.about ul li a{
    background: white;
    font: 22px acampus;
}
.tab-content{
    margin: 20px 0 ;
    font: 18px acampus;
}

.about-row{
    background: rgba(236, 240, 241, 1);
    border: 3px solid #34C8B2;
    padding: 25px;
    border-radius: 15px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background-color: #9e4140!important;
}
.about .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border: 2px solid #34C8B2!important;
}

.navbar-form{
    margin-top: 20px!important;
}
.block-body{
    margin: 60px 0 ;
}
.fa.fa-bars.fa-2x{
    color: #34C8B2;
}

.panel-heading{
    text-align: center;
}

.panel-heading a{
    font-size: 25px;
    color: #2e6633;
}

.proj{
    background-color: #34C8B2;
    padding: 50px;
}
.block-heading p{
    font-size: 18px;
}
.navbar-nav > li > a{
    font: 17px acampus;
}
.block-heading a{
    font: 16px acampus!important;
}
.form-group,.btn,.block-body .date{
    font: 14px acampus!important;
}
.blog-post p{
    font: 16px acampus!important;
}
.table-work{
    margin: 30px 0;
}
.union{
    font: 16px acampus;
}
.union h1{
    margin: 50px 0;
}
.unionfr{
    margin: 25px 0;
    padding: 30px 0;
    border-radius: 15px;
    border: 2px solid #34C8B2;
}
.contact-row{
   text-align: center!important;
}
.contact{
    border: 5px solid #34C8B2;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    text-align: center;
}
.contact-form{
   border: 5px solid #34C8B2;
    border-radius: 15px;
    padding: 15px; margin: 15px;
}

.contact-map{
    border: 5px solid #34C8B2;
    border-radius: 15px;
    padding: 15px; margin: 15px;
}

.address{
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
.neeew{
    text-align: center;
    margin: 30px 0;
}
.neeew h1{
    border-bottom: 3px solid #34C8B2;
}
.neeew .newstext{
    margin: 30px 0;
    padding: 20px;
    border: 5px solid #34C8B2;
    border-radius: 20px;
    font-size: 20px;
    font-family: acampus;
}
